/* General Styles */
body {
    background: rgb(111, 208, 224);
    background: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: 'Frijole', cursive;
    font-size: 3em;
    font-weight: 400;
}

h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 650px) {
    h1 {
        font-size: 5em;
    }
}

@media (min-width: 920px) {
    h1 {
        font-size: 8em;
    }
}

p {
    font-weight: 100;
}

/* Grid Styles */
#grid {
    position: relative;
    background: #fff url(images/tracks.png) no-repeat;
    background-size: cover;
    display: flex;
    margin: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-wrap: wrap;
}

.hide {
    display: none !important;
}

.comapre-info{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.comapre-info #comapre-info-close{
    position: absolute;
    top: 8px;
    left: 8px;
}

.grid-item {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
}
.grid-detail{
    display: none;
    text-align: left;
}
.grid-item:hover .grid-detail{
    display: block;
}
.grid-item:hover .grid-normal{
    display: none;
}
.grid-detail>span{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 4px;
}
.grid-detail>span>label{
    width: 70px;
    text-align: right;
    display: inline-block;
    position: absolute;
    font-weight: bold;;
}
.grid-detail>span>span{
    margin-left:76px;
    display: inline-block;
}
.grid-detail .grid-weight::after{
    margin-left:6px;
    content: "lbs";
}
.grid-detail .grid-height::after{
    margin-left:6px;
    content: "inches";
}


.grid-item:nth-child(1){
    background: #009687f5;
}

.grid-item:nth-child(2){
    background: #dc7657f5;
}

.grid-item:nth-child(3){
    background: #4bb3c1fa;
}

.grid-item:nth-child(4){
    background: #fac069f9;
}

.grid-item:nth-child(5){
    background: #67a866f9;
}

.grid-item:nth-child(6){
    background: #b94169fa;
}

.grid-item:nth-child(7){
    background: #7f62b3fa;
}

.grid-item:nth-child(8){
    background: #9fc376f9;
}

.grid-item:nth-child(9){
    background: #677bcbfa;
}

/* override background color by species */
.grid-item.triceratops{
    background: #009687f5;
}

.grid-item.tyrannosaurus_rex{
    background: #dc7657f5;
}

.grid-item.anklyosaurus{
    background: #4bb3c1fa;
}

.grid-item.brachiosaurus{
    background: #fac069f9;
}

.grid-item.human{
    background: #67a866f9;
}

.grid-item.stegosaurus{
    background: #b94169fa;
}

.grid-item.elasmosaurus{
    background: #7f62b3fa;
}

.grid-item.pteranodon{
    background: #9fc376f9;
}

.grid-item.pigeon{
    background: #677bcbfa;
}

@media (min-width: 550px) {
    #grid .grid-item {
        width: calc(100% / 3);
    }
}

.grid-item h3 {
    font-size: 2em;
    color: #eee;
}

.grid-item img {
    max-width: 100%;
    padding-bottom: 1em;
}

.grid-item p {
    background: rgba(000,000,000, .3);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8em 0.8em 1.8em;
    margin:0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}

/* Form Styles */
.form-container {
    background: #eee;
    padding: 1.3em;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

form p {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

input {
    padding: 0.7em;
    background: #fff;
    border: 0;
}

.form-field__short {
    width: 25%;
    margin-right: 3%;
    box-sizing: border-box;
}

.form-field__full {
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
}

#btn {
    display: inline-block;
    background: #ccc;
    padding: 0.8em;
    margin: 1.2em auto;
    transition: ease 0.3s all;
}

#btn:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
}

/* Footer */
.fine-print {
    display: block;
    font-size: 0.7em;
}

/* compare-modal */
.compare-modal{
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}
.compare-modal-content{
    position: relative;
    padding: 4px;
    background-color: #fff;
    border-radius: 12px;
    border-width: 3px;
    border-color: #ccc;
    border-style: solid;
    z-index: 101;
    
    /* min-height: 200px;
    min-width: 200px; */
}
.compare-modal-dissmiss{
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 4px;
    color:#666;
    padding: 4px;
}
.compare-view-height{
    height: 500px;
    width: 800px;
}
    .compare-view-height .compare-from{
        position: absolute;
        height: 480px;
        width: 640px;
        left: -70px;
        bottom: 0px;
        text-align: center;
    }
    .compare-view-height .compare-to{
        position: absolute;
        height: 480px;
        width: 640px;
        right: -70px;
        bottom: 0px;
        text-align: center;
    }
    .compare-view-height .compare-from img{
        position: absolute;
        z-index: 1;
        height: 480px;
        width: 640px; 
        bottom: 0px;
        left: 0px;
    }
    .compare-view-height .compare-to img{
        position: absolute;
        z-index: 1;
        height: 480px;
        width: 640px;
        bottom: 0px;
        left: 0px;
    }
    .compare-view-height .compare-from p{
        position: absolute;
        z-index: 1;
        width: 100%; 
        bottom: 0px;
        text-align: center;
    }
    .compare-view-height .compare-to p{
        position: absolute;
        z-index: 1;
        width: 100%; 
        bottom: 0px;
        text-align: center;
    }
.compare-view-diet{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}